<div class="contextual">
  <%= link_to l(:label_stakeholder_new),
              new_project_stakeholder_path(@project),
              class: 'icon icon-add' if User.current.allowed_to?(:manage_stakeholders, @project) %>
  <%= link_to l(:label_stakeholder_analytics),
              analytics_project_stakeholders_path(@project),
              class: 'icon icon-stats' if @stakeholders.any? %>
  <%= link_to l(:label_export_csv),
              project_stakeholders_path(@project, format: 'csv'),
              class: 'icon icon-save' if @stakeholders.any? %>
  <%= link_to l(:label_export_excel),
              project_stakeholders_path(@project, format: 'xls'),
              class: 'icon icon-file' if @stakeholders.any? %>
</div>

<h2><%=l(:label_stakeholder_plural)%></h2>

<% if @stakeholders.any? %>
  <div class="stakeholders-container">
    <table class="list stakeholders">
      <thead>
        <tr>
          <th><%= l(:field_id) %></th>
          <th><%= l(:field_stakeholder_name) %></th>
          <th><%= l(:field_title) %></th>
          <th><%= l(:field_location_type) %></th>
          <th><%= l(:field_project_role) %></th>
          <th><%= l(:field_power) %></th>
          <th><%= l(:field_interest) %></th>
          <th><%= l(:field_primary_needs) %></th>
          <th><%= l(:field_expectations) %></th>
          <th><%= l(:field_participation_degree) %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @stakeholders.each do |stakeholder| %>
          <tr class="stakeholder <%= cycle('odd', 'even') %>" data-stakeholder-id="<%= stakeholder.id %>">
            <td class="id" title="Global ID: <%= stakeholder.id %>"><%= stakeholder.project_sequence_number %></td>
            <td class="name editable"
                data-field="name"
                data-type="text"
                data-url="<%= inline_update_project_stakeholder_path(@project, stakeholder) %>">
              <span class="editable-value"><%= stakeholder.name %></span>
              <% if User.current.allowed_to?(:manage_stakeholders, @project) %>
                <i class="icon icon-edit editable-icon"></i>
              <% end %>
            </td>
            <td class="title editable"
                data-field="title"
                data-type="text"
                data-url="<%= inline_update_project_stakeholder_path(@project, stakeholder) %>">
              <span class="editable-value"><%= stakeholder.title %></span>
              <% if User.current.allowed_to?(:manage_stakeholders, @project) %>
                <i class="icon icon-edit editable-icon"></i>
              <% end %>
            </td>
            <td class="location-type editable"
                data-field="location_type"
                data-type="select"
                data-options="<%= Stakeholder.location_type_options.to_json %>"
                data-url="<%= inline_update_project_stakeholder_path(@project, stakeholder) %>">
              <span class="editable-value" data-value="<%= stakeholder.location_type %>"><%= stakeholder.location_type_label %></span>
              <% if User.current.allowed_to?(:manage_stakeholders, @project) %>
                <i class="icon icon-edit editable-icon"></i>
              <% end %>
            </td>
            <td class="project-role editable"
                data-field="project_role"
                data-type="text"
                data-url="<%= inline_update_project_stakeholder_path(@project, stakeholder) %>">
              <span class="editable-value"><%= stakeholder.project_role %></span>
              <% if User.current.allowed_to?(:manage_stakeholders, @project) %>
                <i class="icon icon-edit editable-icon"></i>
              <% end %>
            </td>
            <td class="power editable"
                data-field="power"
                data-type="select"
                data-options="<%= Stakeholder.power_options.to_json %>"
                data-url="<%= inline_update_project_stakeholder_path(@project, stakeholder) %>">
              <span class="editable-value" data-value="<%= stakeholder.power %>"><%= stakeholder.power_label %></span>
              <% if User.current.allowed_to?(:manage_stakeholders, @project) %>
                <i class="icon icon-edit editable-icon"></i>
              <% end %>
            </td>
            <td class="interest editable"
                data-field="interest"
                data-type="select"
                data-options="<%= Stakeholder.interest_options.to_json %>"
                data-url="<%= inline_update_project_stakeholder_path(@project, stakeholder) %>">
              <span class="editable-value" data-value="<%= stakeholder.interest %>"><%= stakeholder.interest_label %></span>
              <% if User.current.allowed_to?(:manage_stakeholders, @project) %>
                <i class="icon icon-edit editable-icon"></i>
              <% end %>
            </td>
            <td class="primary-needs editable"
                data-field="primary_needs"
                data-type="textarea"
                data-url="<%= inline_update_project_stakeholder_path(@project, stakeholder) %>">
              <span class="editable-value"><%= truncate(stakeholder.primary_needs, length: 50) %></span>
              <% if User.current.allowed_to?(:manage_stakeholders, @project) %>
                <i class="icon icon-edit editable-icon"></i>
              <% end %>
            </td>
            <td class="expectations editable"
                data-field="expectations"
                data-type="textarea"
                data-url="<%= inline_update_project_stakeholder_path(@project, stakeholder) %>">
              <span class="editable-value"><%= truncate(stakeholder.expectations, length: 50) %></span>
              <% if User.current.allowed_to?(:manage_stakeholders, @project) %>
                <i class="icon icon-edit editable-icon"></i>
              <% end %>
            </td>
            <td class="participation-degree editable"
                data-field="participation_degree"
                data-type="select"
                data-options="<%= Stakeholder.participation_degree_options.to_json %>"
                data-url="<%= inline_update_project_stakeholder_path(@project, stakeholder) %>">
              <span class="editable-value" data-value="<%= stakeholder.participation_degree %>"><%= stakeholder.participation_degree_label %></span>
              <% if User.current.allowed_to?(:manage_stakeholders, @project) %>
                <i class="icon icon-edit editable-icon"></i>
              <% end %>
            </td>
            <td class="buttons">
              <%= link_to l(:button_edit),
                          edit_project_stakeholder_path(@project, stakeholder),
                          class: 'icon icon-edit' if User.current.allowed_to?(:manage_stakeholders, @project) %>
              <%= link_to l(:label_change_history),
                          history_project_stakeholder_path(@project, stakeholder),
                          class: 'icon icon-history' if User.current.allowed_to?(:view_stakeholders, @project) %>
              <%= link_to l(:button_delete),
                          project_stakeholder_path(@project, stakeholder),
                          method: :delete,
                          data: { confirm: l(:text_are_you_sure) },
                          class: 'icon icon-del' if User.current.allowed_to?(:manage_stakeholders, @project) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
