<h2><%=l(:label_stakeholder_new)%></h2>

<%= labelled_form_for @stakeholder,
                      url: project_stakeholders_path(@project),
                      html: { class: 'stakeholder-form' } do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
  <%= submit_tag l(:button_create) %>
  <%= link_to l(:button_cancel), project_stakeholders_path(@project) %>
<% end %>
